[submodule "4D-Plugin-SDK"]
	path = 4D-Plugin-SDK
	url = https://github.com/4d/4D-Plugin-SDK.git
[submodule "deps/libarchive"]
	path = deps/libarchive
	url = https://github.com/libarchive/libarchive.git
